


/* book now section*/
.booknow{
    margin-top: 100px;
    padding: 100px 0;
    height: auto;
    width:auto;
    background-image: url("image/booknow.png");
    align-content: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom;
  }
  .content8{
    display: grid;
    align-content: center;
    justify-content: center;
    padding-bottom: 20px;
  }
  
  .content8i{
    margin-top: 110px;
    align-items: center;
    margin: 0 auto;
    
  }
  .book-now8{
    margin-top:28px;
    font-family: PlayfairDisplay;
    font-size: 50px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: -0.75px;
    text-align: center;
    color: #232323;
    margin-top:50px;
  }
  .Book-Now .text-style-1 {
    font-style: normal;
  }
  
  .text-8{
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    color: #9c9da7;
    font-style: bold;
    line-height: 1.61;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }