html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

p{
  margin: 0 auto;
}
a:hover{
  text-decoration: none !important;
}
.Rectangle-1 {
    width: 100%;
    height: 92px;
    box-shadow: 0 3px 23px 0 rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
    display: flex;
    justify-content:space-between !important;
    align-items: center !important;
    flex-wrap: wrap;
    
    
  }
.logo {
    max-width:130px;
    padding-left: 20px;
    padding-top: 20px;    
  }
  .buttons{
      float: right;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
      position: relative;
      padding-top: 10px;
  }
  .button{
        flex-direction: row;
        min-width: 156.6px;
        height: 45px;
        border-radius: 23px;
        border: solid 1px #cfc6c6;
        display: inline-block;
        position: relative;
        text-decoration: none;
        vertical-align: top;
        text-align: center;
        padding: 13px 26px;
        line-height: 1.36;
        font-weight: 700;
        font-size: 0.875rem;
        background-color: #ffffff;
        color: #1a1a19;
        text-transform: uppercase;
        transition: .4s ease-in-out;
  }
  .button:hover{
    background-color: #ff9999;
    color: #ffffff;
  }
 .button1{
   margin-right: 20px;
 }
  .poster{
     
      width: 100%;
      height: 677.4px;
      background-position: center;
  }
  img{
    height: auto;
  }
  .banner {
    margin: auto;
    width: 100%;
}
  
.header-container {
  
  
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
    padding-right: 55px;
  
}
.container {
  width: 1200px;
  
  margin-right: auto;
  margin-left: auto;
}
.message{
  display: block;
  
  font-family: "Playfair Display", serif;
  font-size: 76px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-style: italic;
  text-align: left;
  
}
.banner-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  margin-left: 114px; 
  z-index: 99;
}

.blob {
  position: absolute;
  width: 500px;
  height: 500px;
  background: #f8adb1;
  opacity: 0.83;
  z-index: 0;
  margin-top: -10px;
  top: 25%;
  left: 25%;
 
}
.banner-container{

  background-image: url("image/closeup.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: grid;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/*schon*/

.schon{
    position: relative;
    width: 100%;
    height: 677.4px;
    display: block;
    background: url(nail.png) no-repeat top center #fff;
    background-size: cover;
    text-align: center;
    display: inline-block;
    padding: 100px 0;  
}

.nail{
  z-index: -1;
  width: 100%;
}

.nail-container{
  position: relative;
}
.hr{
  border: 0;
height: 1px;
width:25%;

background: #333;
}

.Schönheitskonferenz{
  display: inline-block;
  font-family: 'Playfair Display',serif;
  font-size: 3.125rem;
  line-height: 2.24;
  font-weight: 400;
  color: #232323;
  font-style: italic;
  padding-top: 51px;
  padding-bottom: 51px;
}
.date-time{
font-family: Lato;
  font-size: 30px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: #232323;
  padding-top: 44px;
  padding-bottom: 44px;
}
.Element {
  width: 86px;
  height: 20px;
  
}
  /*speakers*/
  .speakers{
    position: relative;
    text-align: center;
    padding-top: 100px;
  }
  .arrow-rightS{
    color: #FFFFFF;
    text-decoration: none;
  }
  .arrow-rightS:hover{
    color: #ffffff;
    text-decoration: none;
  }

  .arrow-right{
    color: #FFFFFF;
    text-decoration: none;
  }
  .arrow-right:hover{
    color: #ffffff;
    text-decoration: none;
  }
  .speakers1{
    position: relative;
    text-align: center;
    padding-top: 100px;
  }
  .speakers2{
    position: relative;
    text-align: center;
    padding-top: 100px;
  }
.Unsere-speaker{
  font-family: PlayfairDisplay;
  font-size: 50px;
  font-style: italic;
  line-height: 1.24;
  letter-spacing: -0.75px;
  text-align: center;
  color: #232323;
  padding-bottom: 40px;
}
 
.text-strong{
  font-weight: bold;
  font-style: normal;
}
.celebration-day{
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.38;
  letter-spacing: 6.21px;
  text-transform: uppercase;
  color: #6e6e6e;
  padding-bottom: 12px;
  text-align: center;
}

.tag{

  
  vertical-align: middle;
  width: auto;
  padding: 10px 15px;
  min-width: 96px;
  background: #ffeff0;
  border-radius: 100px;
  text-align: center;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 700;
  text-transform: uppercase;
  color: #f99;
  letter-spacing: -0.21px;
}

.text-above-grid{
  font-size: 18px;
  font-family: Lato;
  font-style: italic;
  line-height: 1.61;
  color:#9c9da7;
  width:742px;
  height:51px;
  text-align: center; 
  margin: 0 auto;
  padding-top: 33px;
}
.allfour{

height: 500px;
margin-top: 100px;
margin-left: 50px;
margin-right: 50px;
display: grid;
grid-template-columns: auto auto;
grid-gap: 20px;
}

.one{
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  text-align: left;
}
.inner-image{
  width: 117px;
  height: 116px;
  border-radius: 5px;
  border: solid 1px #e2e2e2;
  background-color: #ffffff;
  margin-top:33px;
  margin-left: 28px;
}
.info{
  float: right;
  
  position:relative;
  border-radius: 10%;
  width: 70%;
  padding-top: 25px;
}



.ext-link{
  bottom: 0;
  right: 10px;
  width: 35px;
  height: 35px;
  position: absolute;
  background-color: #ffaaaa;
  text-align: center;
  line-height: 38px;
  border-radius: 4px 4px 0 0; 
  text-decoration: none;
  transition: .4s ease-in-out;
}
.ext-link:hover{
  background-color: #cf4266;
}
.detail-info{
  text-align: left;
}
.author-name{
  font-family: 'Poppins',sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #222;
  line-height: 1.75;
}
.expertise {
  font-family: 'Lato',sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  color: #f99;
  line-height: 1.25;
  padding-top: 10px;
}
.detail-info{
  font-family: 'Lato',sans-serif;
  font-weight: 400;
  font-size: 0.8125rem;
  color: #a5a1a1;
  line-height: 1.85;
  letter-spacing: 0.5px;
  min-height: 120px;
}
.info{
  
    width: calc(100% - 116px);
    display: inline-block;
    vertical-align: middle;
    padding-left: 24px;

}
.inner-image{
  width: 150px;
  height: 130px;
  border-radius: 50%;
}
.author-image{
  width: 100%;
  height: 100%;
}
.page-6{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.hr7{
  margin-top: 10px;

}
input[type=submit]{
  transition: .4s ease-in-out;
}

/*form*/

.form-ab{
  margin-top: 66px;
  width:40%;
  margin-left: 100px;
  margin-right: 100px;
  float:right;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: solid 1px #dcdbdb;
  font-family: Poppins;
  line-height: 1.75;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  
}
.ticket-text{
  float: left;
}

input[type=text], textarea {
  
  padding: 12px;
  border: 1px solid #dcdbdb;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  width: -webkit-fill-available;
  border: solid 1px #f2f2f2;
  background-color: #f8f8f8;
  
  font-size: 12px;

}

input[type=submit] {
  text-transform: uppercase;
  color: white;
  padding: 12px 20px;
  border: none;
  border: solid 1px #cfc6c6;  
  border-radius: 23px;
  background-color: #ff9999;
  margin-top: 27.6px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(252, 252, 252);
  border: solid 1px #cfc6c6;
  color: #1a1a19;
}
.blue-link{
  color: #108efc;
}

.checkbox-p{
  padding-top: 4px; 
  font-size: 12px;
}

/*form complete*/
/* text before form */
.Ticket-Optionen {
  width: 351px;
  height: 67px;
  font-family: PlayfairDisplay;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.24;
  letter-spacing: -0.75px;
  text-align: left;
  color: #232323;
}
.text-style-1 {
  font-weight: normal;
  font-style: italic;
}
.Mageschneidert{
  font-family: PlayfairDisplay;
  font-size: 29px;
  line-height: 2.14;
  letter-spacing: -0.44px;
  text-align: left;
  color: #232323;
}


.listinner{
  list-style: none;
  display: flex;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
  width:346px;
}

.listinner:before{
content: "";
width: 7px;
height:7px;
border-radius: 50%;
border: 1px solid #ff9999;
display: block;
margin-top: 15px;
min-width: 7px;
}

.content-ticket{
  padding-left: 15px;
}

.listinnerp{
  font-family: Lato;
  font-style: italic;  
  line-height: 1.61;
  text-align: left;
  color: #9c9da7;
}
.listinnerh{
  font-weight: bold;
  color: #151516;
}


/* text before form finish*/

/* page 7*/

.conference-schedule{
  text-align: center;
  margin-top: 200px;
}
.days{
  height: 108px;
  background-color: #2d2d2d;
  margin-top: 40px;
  border-radius: 5px 5px 0 0;
  justify-content: center;
  align-items: center;
  display: flex;
}
.dayp{
  margin-top: 0;
  margin-bottom: 0;
}
.day1{
  width: 122.3px;
  height: 45px;
  border-radius: 23px;
  background-color: #4c4c4c;
  margin:10.7px;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -0.21px;
  color: #ffffff;
}
.day2{
  width: 122.3px;
  height: 45px;
  border-radius: 23px;
  background-color: #4c4c4c;
  margin:10.7px;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -0.21px;
  color: #ffffff;
}
.day3{
  width: 122.3px;
  height: 45px;
  border-radius: 23px;
  background-color: #4c4c4c;
  margin:10.7px;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -0.21px;
  background-color: #ff9999;
  color: #ffffff;
}
.mainhall{
  height: 67px;
  background-color: #f0f0f0;
  align-content: center;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -0.21px;
  text-align: left;
  color: #2d2d2d;
  margin-bottom: 0;
}
.submainhall{
  display: flex;

}
.subhalll{
  float: left;
 text-align: center;
  width: 50%;
  border-right: solid 1px #c5c5c5;
}
.subhallr{
  float: right;
  text-align: center;
  width: 50%;
}
.heading{
  font-family: PlayfairDisplay;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.24;
  letter-spacing: -0.38px;
  text-align: center;
  color: #232323;
  margin-top: 41px;
  margin-bottom: 47px;
}
.info7{
  display: flex; 
  padding: 21px;
  
}
.author-image7{
  float: left;
  width: 30%; 
  border-radius: 50%;
}

.show-details{
  float: right;
  width:70%;
}
.button7{
  text-transform: uppercase;
  color: black;
  padding: 12px 20px;
  width: 145px;
  border: none;
  border: solid 1px #cfc6c6;  
  border-radius: 23px;
  background-color: #ffffff;
  cursor: pointer;
  font-family: Poppins;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -0.18px;
  margin-top: 18px;
  transition: .4s ease-in-out;
}
.button7:hover{
  background-color: #ff9999;
  color: white;
}
.name7{
  font-family: Lato;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.81px;
  text-align: left;
  color: #a9a0a0;
}
.details7{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.94;
  letter-spacing: -0.24px;
  text-align: left;
  color: #232323;
}
.timings7{
  font-family: OpenSans;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.38;
  letter-spacing: 5.04px;
  text-align: left;
  color: #a9a0a0;
}
.tickets{
  font-family: Lato;
  font-size: 14px;
  font-style: italic;
  line-height: 1.21;
  text-align: left;
  color: #ff8748;
}

hr { 
  display: block;
  margin-top: 1.5px;
  margin-bottom: 1.5px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  width: 75%;
  margin-top: 114px;
} 

.form-ab2{
  padding: 48.5px;
  background-color: #ffffff;
  border-radius: 5px;
  border: solid 1px #dcdbdb;
  font-family: Poppins;
  line-height: 1.75;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: left;
  margin: 48px;
}