html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

p{
  margin: 0 auto;
}
a:hover{
  text-decoration: none;
}
.Rectangle-1 {
    width: 100%;
    height: 92px;
    box-shadow: 0 3px 23px 0 rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
    display: flex;
    justify-content:space-between !important;
    align-items: center !important;
    flex-wrap: wrap;
    
    
  }
.logo {
    max-width:130px;
    padding-left: 20px;
    padding-top: 20px;    
  }
  .buttons{
      float: right;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
      position: relative;
      padding-top: 10px;
  }
  .button{
        flex-direction: row;
        min-width: 156.6px;
        height: 45px;
        border-radius: 23px;
        border: solid 1px #cfc6c6;
        display: inline-block;
        position: relative;
        text-decoration: none;
        vertical-align: top;
        text-align: center;
        padding: 13px 26px;
        line-height: 1.36;
        font-weight: 700;
        font-size: 0.875rem;
        background-color: #ffffff;
        color: #1a1a19;
        text-transform: uppercase;
        transition: .4s ease-in-out;
  }
  .button:hover{
    background-color: #ff9999;
    color: #ffffff;
  }
 .button1{
   margin-right: 20px;
 }
  .poster{
     
      width: 100%;
      height: 677.4px;
      background-position: center;
  }
  img{
    height: auto;
  }
  .banner {
    margin: auto;
    width: 100%;
}
  
.header-container {
  
  
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
    padding-right: 55px;
  
}
.container {
  width: 1200px;
  
  margin-right: auto;
  margin-left: auto;
}
.message{
  display: block;
  
  font-family: "Playfair Display", serif;
  font-size: 76px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-style: italic;
  text-align: left;
  
}
.banner-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  margin-left: 114px; 
  z-index: 99;
}

.blob {
  position: absolute;
  width: 500px;
  height: 500px;
  background: #f8adb1;
  opacity: 0.83;
  z-index: 0;
  margin-top: -10px;
  top: 25%;
  left: 25%;
 
}
.banner-container{

  background-image: url("image/closeup.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: grid;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/*schon*/

.schon{
    position: relative;
    width: 100%;
    height: 677.4px;
    display: block;
    background: url(nail.png) no-repeat top center #fff;
    background-size: cover;
    text-align: center;
    display: inline-block;
    padding: 100px 0;  
}

.nail{
  z-index: -1;
  width: 100%;
}

.nail-container{
  position: relative;
}
.hr{
  border: 0;
height: 1px;
width:25%;

background: #333;
}

.Schönheitskonferenz{
  display: inline-block;
  font-family: 'Playfair Display',serif;
  font-size: 3.125rem;
  line-height: 2.24;
  font-weight: 400;
  color: #232323;
  font-style: italic;
  padding-top: 51px;
  padding-bottom: 51px;
}
.date-time{
font-family: Lato;
  font-size: 30px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: #232323;
  padding-top: 44px;
  padding-bottom: 44px;
}
.Element {
  width: 86px;
  height: 20px;
  
}
  /*speakers*/
  .speakers{
    position: relative;
    text-align: center;
    padding-top: 100px;
  }
  .arrow-rightS{
    color: #FFFFFF;
    text-decoration: none;
  }
  .arrow-rightS:hover{
    color: #ffffff;
    text-decoration: none;
  }

  .arrow-right{
    color: #FFFFFF;
    text-decoration: none;
  }
  .arrow-right:hover{
    color: #ffffff;
    text-decoration: none;
  }
  .speakers1{
    position: relative;
    text-align: center;
    padding-top: 100px;
  }
  .speakers2{
    position: relative;
    text-align: center;
    padding-top: 100px;
  }
.Unsere-speaker{
  font-family: PlayfairDisplay;
  font-size: 50px;
  font-style: italic;
  line-height: 1.24;
  letter-spacing: -0.75px;
  text-align: center;
  color: #232323;
  padding-bottom: 40px;
}
 
.text-strong{
  font-weight: bold;
  font-style: normal;
}
.celebration-day{
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.38;
  letter-spacing: 6.21px;
  text-transform: uppercase;
  color: #6e6e6e;
  padding-bottom: 12px;
  text-align: center;
}

.tag{

  
  vertical-align: middle;
  width: auto;
  padding: 10px 15px;
  min-width: 96px;
  background: #ffeff0;
  border-radius: 100px;
  text-align: center;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 700;
  text-transform: uppercase;
  color: #f99;
  letter-spacing: -0.21px;
}

.text-above-grid{
  font-size: 18px;
  font-family: Lato;
  font-style: italic;
  line-height: 1.61;
  color:#9c9da7;
  width:742px;
  height:51px;
  text-align: center; 
  margin: 0 auto;
  padding-top: 33px;
}
.allfour{

height: 500px;
margin-top: 100px;
margin-left: 50px;
margin-right: 50px;
display: grid;
grid-template-columns: auto auto;
grid-gap: 20px;
}

.one{
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  text-align: left;
}
.inner-image{
  width: 117px;
  height: 116px;
  border-radius: 5px;
  border: solid 1px #e2e2e2;
  background-color: #ffffff;
  margin-top:33px;
  margin-left: 28px;
}
.info{
  float: right;
  
  position:relative;
  border-radius: 10%;
  width: 70%;
  padding-top: 25px;
}



.ext-link{
  bottom: 0;
  right: 10px;
  width: 35px;
  height: 35px;
  position: absolute;
  background-color: #ffaaaa;
  text-align: center;
  line-height: 38px;
  border-radius: 4px 4px 0 0; 
  text-decoration: none;
  transition: .4s ease-in-out;
}
.ext-link:hover{
  background-color: #cf4266;
}
.detail-info{
  text-align: left;
}
.author-name{
  font-family: 'Poppins',sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #222;
  line-height: 1.75;
}
.expertise {
  font-family: 'Lato',sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  color: #f99;
  line-height: 1.25;
  padding-top: 10px;
}
.detail-info{
  font-family: 'Lato',sans-serif;
  font-weight: 400;
  font-size: 0.8125rem;
  color: #a5a1a1;
  line-height: 1.85;
  letter-spacing: 0.5px;
  min-height: 120px;
}
.info{
  
    width: calc(100% - 116px);
    display: inline-block;
    vertical-align: middle;
    padding-left: 24px;

}
.inner-image{
  width: 150px;
  height: 130px;
  border-radius: 50%;
}
.author-image{
  width: 100%;
  height: 100%;
}
.page-6{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.hr7{
  margin-top: 10px;

}
input[type=submit]{
  transition: .4s ease-in-out;
}
